body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.page {
    display: flex;
}

.first_div {
    width: 50%;
    margin-top: 140px;
    margin-left: 130px;
}

.blue {
    font-size: 60px;
    margin-bottom: 0px;
    color:rgb(0, 132, 255);
}

.black {
    margin-top: 5px;
    font-size: 25px;
    font-weight: lighter;
}

.form {
    border-radius: 10px;
    background-color: white;
    width: 80%;
    /* gap: 0.05rem; */
    margin-top: 130px;
    flex-flow: column;    
    margin-bottom: 0px;
    height: 55vh;    
}

.name {
    width: 88%;
    margin-top: 17px;
    margin-left: 15px;
    font-size: 17.5px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    height: 2rem;
    border-radius: 5px;
    border-color: #919191;
    border-width: 0.05rem;
    outline: none;
}

.password {
    width: 88%;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 17.5px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    height: 2rem;
    border-radius: 5px;
    border-color: #919191;
    border-width: 0.05rem;
    outline: none;
}

footer {
    margin-top: 175px;
    padding: 20px 50px;
    background-color: white;
    height: 24.5vh;
    margin-bottom: 0%;
    
}

form .button_div>button {
    width: 91%;
    margin-left: 17.5px;
    margin-top: 15px;
    height: 2rem;
    color: white;
    background-color: rgb(48, 133, 203);
    height: 3.2rem;
    border-radius: 7.5px;
    border-color:rgb(48, 133, 203);
    border: none;
}
form .button_green>button {
    width: 50%;
    margin-left: 103px;
    margin-top: 21px;
    height: 2rem;
    color: white;
    background-color: rgb(16, 177, 16);
    height: 3.2rem;
    border-radius: 7.5px;
    border-color:rgb(16, 177, 16);
    border: none;
}

form .button_green>:hover {
    outline: 2px solid greenyellow;
    background-color: rgb(53, 128, 0);
    cursor: pointer;
}

form .button_div>:hover {
    outline: 2px solid greenyellow;
    background-color: rgb(0, 98, 255);
    cursor: pointer;
}

.forgotten_pass {
    margin-left: 135px;
    color: rgb(48, 133, 203);
    font-size: 13px;
       
}

.forgotten_pass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list {
    margin-top: 25px;
}

.celebrity {
    margin-left: 57.5px;
    margin-top: 30px;
    font-size: 13.5px;
}

/* footer {
    margin-top: 175px;
   
    
} */

.account {
    font-weight: bold;
    font-size: 17px;
}

.log {
    font-weight: bold;
    font-size: 21px;
}

.bottom-container {
    display: block;
    margin-left: 48px;
    
}

.list-items {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
    color: #919191;
    margin-bottom: 0px;
    
}

.list-items2 {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
    color: #919191;
    margin-bottom: 0px;
    
}

.hori-rule {
    width: 87%;
    margin-top: 25px;
    color:#919191;
}

.meta {
    margin-left: 41px;
    font-size: 12.5px;
    color:#919191;
}

@media (max-width: 766px) {
    main {
        flex-flow: column;
        padding: 0px;
        align-items: center;
                
    }
    .blue {
        font-size: 48px;
        margin-top: 0px;
        
    }
    .black {
        font-size: 16px;
        
    }
    .form {
        border-radius: 10px;
        background-color: white;
        width: 80%;
        /* gap: 0.05rem; */
        margin-top: 130px;
        flex-flow: column;    
        margin-bottom: 0px;
        height: 62.5vh;
        margin-left: 57.5px;
       
    }
    .celebrity {
    margin-left: 127.5px;}
}
.list-items {
    font-size: 8px;
    
}

.list {
    justify-items: center;
}


/*320px-480px - mobile devices*/
/*481px-768px - tablet devices*/
/*767px-1024px - small screens, laptop*/